.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  &__input {
    background-color: rgb(217, 231, 242);
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 17px;
    padding-left: 1rem;
  }
  &__btn {
    background-color: rgb(180, 56, 15);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 17px;
    color: whitesmoke;
  }
}
